<a href="https://colab.research.google.com/github/ksuaray/F23_697LAEP/blob/main/STAT_697_%2B_LAEP_F23_Group_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Welcome to STAT 697 + LAEP: Applied Data Science and Machine Learning

To type mathematical text using LaTeX in Colab, use dollar signs to introduce it: $y=x^2$.
Useful math concepts:
1. Sigma notation/Series
2. Probability distributions
3. Numerical descriptive statistics
4. Calculus - integration

Datasets = matrices
Rows = Observations
Columns = Variables

#Kevin

What do you hope to learn from this experience?

#Daniel

In [ ]:
animalLookup = {
    'a':['aardvark','antelope'],
    'b':['bear'],
    'c':['cat'],
    'd':['dog'],
}
for letter, animals in animalLookup.items():
    pass
    for letter, animals in animalLookup.items():
      if len(animals) > 1:
        print(f'Found {len(animals)} {animals}')
    break

Found 2 ['aardvark', 'antelope']

I hope to learn more data science skills and how to better myself in the business industry, as well as know how to market myself. For Python, I learned to code through Linkedln Learning. I hope to learn more Python next semester in IS 340

What do you hope to learn from this experience?

#Trisha

In [ ]:
print("Hi")
number = input("Enter a number: ")
print(number)

What do you hope to learn from this experience?

My python experience comes from CECS 174 and I used Zybook throughout the course. I hope to explore more about data science and figure out what I want to pursue in the future.

In [ ]:
#Week 1: Fundamental Statistics and Data Wrangling

#Week 1: Data Wrangling with pandas

*Data Wrangling* is the process of taking raw data from a state that was optimal for collection and storage to a state that is optimal for exploration and analysis. The primary package used for this cleaning, organizing and structuring of data is **pandas**. It is pre-installed in Colab, and we can access it via an *import* statement

In [ ]:
import pandas as pd

If you haven't already, create an account at [Kaggle](kaggle.com). It is a central hub for learning and connecting with others about DS/ML, and one of the best places online to find datasets to practice with.

Search for the *Academic Scores for NCAA Athletic Programs* dataset and download it to your computer. After cownloading it I called the file *NCAA_Acad.csv*. You can then upload it to Colab by clicking on the folder icon to the left. Then click the upload button that appears.

From there, you will be able to read it into the notebook using the **read_csv** command.

**QUESTION 1 (Daniel)**: What do the letters in the .csv file format name represent? What does a .csv look like when you open it in a word processor like Apple Pages, Google Docs or Microsoft Word? What does it look like when you open it in a program like Apple Numbers, Google Sheets or Microsoft Excel?

To read the data into this notebook, we'll use the **read_csv** function in the pandas library, as seen below. Hit the "play" button to execute the code.

In [ ]:
df = pd.read_csv("NCAA_Acad.csv")
df

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
0,100654,Alabama A&M University,0,2014,1,Baseball,1,2,Southwestern Athletic Conference,80,...,0.8974,0.9487,21,917,0.8810,0.9524,20,975,0.9750,0.9750
1,100654,Alabama A&M University,0,2014,4,Football,1,2,Southwestern Athletic Conference,321,...,0.9111,0.9630,74,921,0.8759,0.9655,74,871,0.8601,0.8811
2,100654,Alabama A&M University,0,2014,2,Men's Basketball,1,2,Southwestern Athletic Conference,43,...,0.9615,0.8462,11,909,0.9091,0.9091,10,950,0.9500,0.9500
3,100654,Alabama A&M University,0,2014,6,Men's Golf,1,2,Southwestern Athletic Conference,22,...,0.8889,0.8889,7,929,0.8571,1.0000,-99,-99,-99.0000,-99.0000
4,100654,Alabama A&M University,0,2014,13,Men's Tennis,1,2,Southwestern Athletic Conference,12,...,0.8889,0.8889,4,1000,1.0000,1.0000,6,958,1.0000,0.9167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6506,433660,Florida Gulf Coast University,0,2014,31,Women's Soccer,1,3,Atlantic Sun Conference,88,...,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000
6507,433660,Florida Gulf Coast University,0,2014,29,Women's Softball,1,3,Atlantic Sun Conference,71,...,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000
6508,433660,Florida Gulf Coast University,0,2014,32,Women's Swimming,1,3,Atlantic Sun Conference,84,...,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000
6509,433660,Florida Gulf Coast University,0,2014,33,Women's Tennis,1,3,Atlantic Sun Conference,28,...,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000
6510,433660,Florida Gulf Coast University,0,2014,36,Women's Volleyball,1,3,Atlantic Sun Conference,46,...,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000

This creates an object called a pandas *DataFrame* in Python. Remember that the rows are observations, the columns are variables - both typed in bold. The numbers and words in the middle are values corresponding to the unique "location" defined by a specific observation and variable.

**QUESTION 2 (Trisha)**: Based on the output above, complete the following sentences:
* The number of observations is

* The number of variables is

We can verify this by using the **shape** attribute

In [ ]:
df.shape

(6511, 57)

**QUESTION 3 (Kevin)**: Use Chat GPT or any other resource to figure out how to use the **pd.set_option** command to show all columns in the data frame.

**QUESTION 4 (Daniel)**: Take a look at the values in the data. Does anything look obviously suspect?

The ELIGIBILITY variable records the proportion of student athletes that were able to compete in a given year.

In [ ]:
df['FOURYEAR_ATHLETES'].describe()

count    6511.000000
mean       76.191368
std        63.082719
min       -99.000000
25%        39.000000
50%        58.000000
75%        94.000000
max       452.000000
Name: FOURYEAR_ATHLETES, dtype: float64

Based on these results (minus the obvious issue we need to resolve), it seems like the vast majority of student athletes do not struggle with eligibility issues.

Most data found on websites like Kaggle will have minimal issues we need to clean up. In this one, you may notice

**QUESTION 5a (Trisha):** Choose a quantitative variable to describe. What can you infer about the population of NCAA Division 1 schools based on the ersults?

**QUESTION 5b (Kevin):** Choose a quantitative variable to describe. What can you infer about the population of NCAA Division 1 schools based on the ersults?

**QUESTION 5c (Daniel):** Choose a quantitative variable to describe. What can you infer about the population of NCAA Division 1 schools based on the ersults?

##Subsetting Data
Data science is all about asking relevant questions about the data and making a way to answer them using tools from computer science and statistical reasoning. Some basic questions could be
* What does the data look like if we are only interested in one sport?
* What does the data look like if we are only interested in one conference?
* What does the data look like if we are only interested in schools with more than 100 athletes?
Many similar questions can be used to slice the data and select a subset that is of relevance to us. Select one of the above or a similar question to answer below. You can use ChatGPT or any online resource to guide you. [This cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) is also very useful.

**QUESTION 6a (Trisha):** Example of subsetting data

**QUESTION 6a (Kevin):** Example of subsetting data

**QUESTION 6a (Daniel):** Example of subsetting data